body {
    padding: 0;
    margin: 0;
    background: #000;
    background: linear-gradient(90deg, #000 50%, #101010 70%);
    font-family: Roboto;
    color: white;
}

main {
    margin: 0px;
    height: 100%;
}

p {
    font-size: 22px;
}

footer{
    padding: 16px;
    text-align: right;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.navbar {
    flex-direction: row;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background: #000;
    border-bottom-right-radius: 32px;
}

.navbar a{
    padding: 16px;
    margin-left: 128px;
    text-decoration:none;
    font-size: 22px;
    font-weight: bold;
    color: #aaa;

}

.navbar .language-button {
    margin-left: auto;
    margin-right: 32px; /* Adjust the margin as needed */
    text-align: center; /* Center-align the text within the button */
}


.navbar a:hover {
    color: white;
}




.sidebar {
    height: 100%;
    width: 192px;
}

.social-dock {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: #111;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    display: flex;
    flex-direction: column;
}

.social-dock img {
    height: 64px;
    width: 64px;
    padding: 16px;
}

.email {
    width: 96px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }
    .navbar {
        display: none;
        flex-direction: column;
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; 
        background: #000;
        border-bottom-right-radius: 32px;
    }
    .navbar .language-button {
        margin-left: 128px;
        margin-right: auto; /* Adjust the margin as needed */
        text-align: center; /* Center-align the text within the button */
    }
    .sidebar {
        height: 25vh;
        width: 100vw;
    }
    .contact {
        flex-direction: column-reverse;
    }
    .social-dock {
        visibility: hidden;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        background: #111;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    
        display: flex;
        flex-direction: column;
    }
    
    
}




