.projects-text-card {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 50vw;
    background: #000;
    padding-top: 1vh;
    padding-bottom: 1vh;
    justify-content: center;
    text-align: center;
    border-radius: 32px;
}

.project-tile {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 50vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: center;
    text-align: center;
    border-radius: 32px;
}

@media (max-width: 768px) {
    .project-tile {
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
        /* padding-top: 3vh;
        padding-bottom: 3vh;
        justify-content: center;
        text-align: center;
        border-radius: 32px; */
    }
}

.left {
    background: #101010;
}

.right {
    background: #000;
}

.right img {
    margin-left: 0;
    margin-right: 32px;
}

.left img {
    margin-right: 0;
    margin-left: 32px;
}

.project-tile p {
    color: #aaa;
    margin-left: 8px;
    margin-right: 8px;
}

.project-tile .with-img {
    width: 30vw;
}
.project-tile a {
    text-decoration: none;
    color: #bbb;
    transition: 0.5s;
}

.project-tile a:hover {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.project-tile-img-row {
    width: 50vw;
    flex-direction: row;
}


@media (max-width: 768px) {
    .project-tile {
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
        /* padding-top: 3vh;
        padding-bottom: 3vh;
        justify-content: center;
        text-align: center;
        border-radius: 32px; */
    }

    .projects-text-card {
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
        /* background: #000;
        padding-top: 1vh;
        padding-bottom: 1vh;
        justify-content: center;
        text-align: center;
        border-radius: 32px; */
    }
    .project-tile .row {
        flex-direction: column;
    }
    .mobile-placeholder {
        visibility: visible;
        height: 3vh;
    }
    .project-tile-img-row {
        width: auto;
        flex-direction: row;
    }
    .project-tile .with-img {
        width: auto;
    }
}
